:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing:inherit;
}

body {
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

body * + * {
    margin-top: 1.5em;
    
}

.container {
    margin:0 auto;
    background-color: #95a5a6;
    width:50vw;
    
/*    text-align: center;*/
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    /*! grid-row-gap: 0.3em; */
    text-align: center;
    font-size:1.3em;
    color: #ECF0F1;
}

.header {
    grid-column: 1 / 3;
}

.header h1 {
    background-color:#7f7c7c;
    display: inline-block;
    margin-top:0.3em;
    padding: 0.3em;
    border-radius: 0.1em;
}

.log-message {
    grid-column:1 / 3;
}
.btns-part > * {
    margin-top: 1.5em;
}
.btns-part {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.btns-part > a {
    margin:0.5em;
    background-color:white;
    padding:0.4em;
    text-decoration: none;
    color:#000;
    border-radius: 0.3em;
}

.btns-part > a:hover {
    background-color: #d9d7d7;
    color:white;
    transition: background-color 0.5s;
}

.form {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top:0;
}

.form > * {
/*    flex: 1;*/
}

.form > input {
    margin-left: 0.8em;
    font-size:1em;
}

.button-form {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.button-form a {
    padding:0.5em 1.3em;
    background-color: white;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
    text-decoration: none;
    color:#7f7c7c;;
}

.button-form a:hover {
    background-color: #bababa;
    color: #534040;
}

.nav-menu {
    grid-column: 1 / 3;
    background-color: #7f7c7c;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    color: black;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.nav-item {
    border-left: 2px solid black;
    display:block;
    margin: 1.5em;
    background-color: white;
    padding: 0.3em;
    border-radius: 0.3em;
}

.nav-item a {
    color:black;
    text-decoration: none;
}