{% macro render_input(type='text', maxlength='10' , size='10' ,name='', class='', value='' ) %}
<input type="{{ type }}" name="{{ name }}" class="{{ class }}"
       value="{{ value }}" maxlength="{{ max_length}}" size="{{ size }}"/>
{%- endmacro %}

{% macro render_link_rel (naziv='') %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/%s.css' % naziv) }}" type="text/css"/>
{%- endmacro %}

{% macro render_script_href(naziv='') %}
<script src="{{ url_for('static' , filename='js/%s.js' % naziv) }}"></script>
{% endmacro %}

{% macro href_home(podforum) %}
    <a href="{{ url_for('uefa_comps.forum', podforum=set_url(podforum) , page=1) }}"> {{ podforum }} </a>
{%- endmacro %}

{% macro href_forum(endpoint="",podforum="",page=1,text="",id="",video="") %}

    {% if text == "<" %}
    {% set text = "<i class='fa fa-angle-left'></i>" %}
    {% elif text == ">" %}
    {% set text = "<i class='fa fa-angle-right'></i>" %}
    {% endif %}

    {% if video == "" %}
    <a href="{{ url_for(endpoint, podforum=set_url(podforum,id), page=page) }}"> {{ text|safe }} </a>
    {% else %}
    <a href="{{ url_for(endpoint, video=video.url_view , page=page) }}"> {{ text|safe }} </a>
    {% endif %}
{%- endmacro %}

{% macro set_date(datetime) %}
{{ datetime.strftime("%Y-%m-%d %H:%M:%S") }}
{% endmacro %}