<!doctype html>
<html>
{% from '__helpers.html' import render_link_rel %}

<head>
    {% block headcss %}
    {{ render_link_rel('style2') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
</head>


<body>

<div class="container">
    <div class="grid-container">

        <div class="header">
            <h1>uefa_comps</h1>
        </div>
        {% block navmenu %}
        <nav class="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="{{ url_for('uefa_comps.pocetna') }}">home - <i class="fa fa-home"></i></a></li>
                <li class="nav-item"><a href="">account - <i class="fa fa-user"></i></a></li>
                <li class="nav-item"><a href="{{ url_for('uefa_comps.logout') }}">logout - <i class="fa fa-sign-out-alt"></i></a></li>
            </ul>
        </nav>
        {% endblock %}

        {% block content %}

        {% endblock %}


    </div>

</div>


</body>

</html>