{% extends 'base.html' %}

{% block headcss %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css"/>
{% endblock %}


{% block content %}
<div class="main-content">

    {% for podforum in forum %}
    <div class="main-category">
        <a href="{{ url_for('uefa_comps.forum', podforum=podforum) }}">{{ forum[podforum][0] }}</a>
        <p>last message:10min</p>
    </div>
    <div class="main-category-photo">
        <img src=""/>
    </div>
    {% endfor %}
</div>
{% endblock %}
