<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style2.css" type="text/css"/>

</head>

<body>

<div class="container">
    <div class="grid-container">
        <div class="header">
            <h1>uefa_comps</h1>
        </div>

        <div class="log-message">
            <h3>Login required.</h3>
        </div>

        <div class="btns-part">
            <a href="login.html">Login</a>
            <a href="//">Register</a>
        </div>
    </div>

</div>

<p>dfdsf</p>


</body>

</html>