{% extends 'base.html' %}
{% from '__helpers.html' import render_input %}
{% block headcss %}
{{ super() }}
{% endblock %}

        {% block content %}
        <div class="log-message">
            <h3>Login page.</h3>
        </div>

        <div class="form">
            <p>username</p>
            {{ render_input('text') }}
        </div>
        <div class="form">
            <p>password</p>
            {{ render_input('password') }}
        </div>
        <div class="button-form">
            <a href="login.html">Login</a>
        </div>
        {% endblock %}
