{% extends 'base.html' %}
{% from '__helpers.html' import render_input %}
{% block headcss %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="log-message">
    <h3>Register page.</h3>
</div>

<div class="form">
    <p>email</p>
    {{ render_input('text',25,10) }}
</div>

<div class="form">
    <p>username</p>
    {{ render_input('text',10,10) }}
</div>

<div class="form">
    <p>password</p>
    {{ render_input('password',10,10) }}
</div>

<div class="form">
    <p>password</p>
    {{ render_input('password',10,10) }}
</div>

<div class="button-form">
    <a href="register.html">Register</a>
</div>
{% endblock %}