{% extends 'base.html' %}
{% from '__helpers.html' import render_input %}
{% block headcss %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="log-message">
    <h3>Register page.</h3>
    {% for category in get_flashed_messages (with_categories=false) %}
        {{ category }}
    {% endfor %}
</div>

<form method="POST" action="{{ url_for('uefa_comps.register') }}" role="form" class="form-container" >
 {{ form.csrf_token }}
    <p>{{ form.username.label }}:</p>
    <div class="input-data">
         {{ form.username() }}
    </div>

    <p>{{ form.password.label }}:</p>
    <div class="input-data">
         {{ form.password()}}
    </div>

    <p>{{ form.confirm.label }}:</p>
    <div class="input-data">
         {{ form.confirm()}}
    </div>

    <div>
        <button type="submit" class="button-form" >Login</button>
    </div>


</form>


{% endblock %}