<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="{{ url_for('uefa_comps.test') }}" role="form" class="form-container" enctype="multipart/form-data">
    {{ text }}


   <p>{{ form.naslov.label }}:</p>
    <div class="input-data">
         {{ form.naslov() }}
    </div>

    <p>{{ form.podforum.label }}:</p>
    <div class="input-data">
         {{ form.podforum()}}
    </div>

    <p>{{ form.dl_link.label }}:</p>
    <div class="input-data">
         {{ form.dl_link()}}
    </div>

    <p>{{ form.slika.label }}:</p>
    <div class="input-data">
         {{ form.slika()}}
    </div>

    <div>
        <button type="submit" class="button-form" >POST</button>
    </div>

</form>





</body>
</html>