{% extends 'base.html' %}
{% from '__helpers.html' import href_forum with context %}
{% block headcss %}
{{ super() }} {{ render_link_rel('video') }}
{% endblock %}

{% block content %}

        <div class="topic-name">
            <h2>
                {% if komentari.has_prev %}
                {{ href_forum(request.endpoint,video=video,page=komentari.prev_num,text="<") }}
                {% else %}
                <a href="{{ url_for('uefa_comps.pocetna') }}"> < </a>
                {% endif %}

                {{ video.naslov }}

                {% if komentari.has_next %}
                {{ href_forum(request.endpoint,video=video,page=komentari.next_num,text=">") }}
                {% else %}
                 <a href="{{ url_for('uefa_comps.pocetna') }}"> > </a>
                {% endif %}
            </h2>
        </div>
        {% if not komentari.has_prev %}
        <div class="topic-main-post">
            <div class="topic-main-op">
                <a href="//">{{ video.objavio }}</a>
            </div>


            <div class="topic-main-date">
                <p href="//">#0 {{ video.objavljeno }}</p>
            </div>


            <div class="topic-main-image">
                <img src="{{ url_for('static',filename='images/test.png') }}" height="fill">
            </div>

            <div class="topic-main-url">
                <a href="{{ video.dl_link }}">DOWNLOAD</a>
            </div>

            <div class="topic-main-like">
                <i class="fa fa-thumbs-up"></i>
            </div>

        </div>
    {% endif %}

    {% for komentar in komentari.items %}
        <div class="topic-comment-post">
            <div class="topic-commentator">
                <a href="//">{{ komentar.napisao }}</a>
            </div>

            <div class="topic-comment-date">
                <p>#{{ komentar.id }} {{ komentar.napisano }}</p>
            </div>

            <div class="topic-comment">
                <p>
                    {{ komentar.komentar }}
                </p>
            </div>


        </div>
    {% endfor %}

{% endblock %}
